# IDE
.idea/

# Any queries that have been placed here
*.sql

# Binaries for programs and plugins
gabi-query-preparer
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
